/* Загальні стилі */
body {
    background-image: url(https://static.vecteezy.com/system/resources/previews/020/735/852/original/basketball-cartoon-free-space-for-text-wallpaper-copy-space-free-vector.jpg);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ba621c;
    color: #f8dfb8;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #f8dfb8;
    text-decoration: none;
}

/* Стилі для розділів */
section {
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
}

/* Стилі для футера */
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #ba621c;
    color: #f8dfb8;
}

.video_basket {
    padding-top: 10px;
    padding-bottom: 10px;
}
