/* Загальні стилі */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

/* Стилі для розділів */
section {
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
}

/* Стилі для футера */
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
}

.video_index {
    display: flex;
    justify-content: center;
    align-items: center;
}